body{
    margin: 0em;
    
}
#tete{
    font-family:  "PT Sans","Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-weight:bold;
    letter-spacing: normal;
    line-height: 1;
    color: black;
    border:none;
    font-size: 0.9em;
    background:white;
    height: 2em;
    padding-bottom:0.5em;
}
#tete:hover{
    color: rgb(228, 165, 83);
}
#titre {
    font-size: 0.6em;
    padding-left: 2.5em;
    font-family:  "PT Sans","Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-weight:bold;
    letter-spacing: normal;
    line-height: 1;
    color: black;
    border:none;
    padding-top:0.4em ;
}

#en-tête{
    border: none;
    
    font-family:  "PT Sans","Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    letter-spacing: normal;
    line-height: 1;
    color: black;
    
    margin-top: 0;
    
    font-size: 4em;
    background-color: white;
    height: 1.4em;
}

#commande, #gamme{
border: none;

background-color: white;
font-family:  "PT Sans","Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    letter-spacing: normal;
    line-height: 1;
    color: black;
    height: 2.5em;
    text-align: center;
    font-weight:bold;
   
    background-color: white;
   float:right;
   margin-right:2.5em;

}
#gamme{
    padding-top:0.7em;
    font-size:0.49em;
}
#commande{
    padding-top:1em;
    font-size:0.49em;
}
#commande:hover, #gamme:hover{
    font-size:0.5em;
    color: rgb(228, 165, 83);
    background: white;
}
#page-gamme{
    display:none;
}
#photov{
    height: 4em;
    width: 4.5em;
    margin-left:50%;
    transform: translate(-50%,0);
}

#merci{
    padding-top: 10%;
    min-height :14em;
    display:none;
    border: none;
    font-size: 3em;
background-color: white;
font-family:  "PT Sans","Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    letter-spacing: normal;
    line-height: 1;
    color: black;
    height: 2.5em;
    text-align: center;
    font-weight:bold;

}
#pascommande{
    padding-top: 10%;
    display:none;
    border: none;
    font-size: 3em;
background-color: white;
font-family:  "PT Sans","Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    letter-spacing: normal;
    line-height: 1;
    color: rgb(0, 0, 0);
    height: 2.5em;
    text-align: center;
    font-weight:bold;
}
#commanderpascommande:hover{
    opacity: 0.5;
   
}
#page-commande{
    display: block;
}
#page-acceuil{
display:block;
}
#espace{
    background: white;

    width: 100%;
}
#espace2{
    background: white;
    height:5em;
    width: 100%;
}
#case1{
   
    margin-left: 0%;
    height: 40em;
    width: 100%;
    
    background-color:white;
}
#textecase1{
    margin-top: 1em;
    font-size: 300%;
    font-family: 'MV Boli';
}
#textepresentation{
    color:white;
    filter: none;
    
}
#présentation {
    
    font-family:  "PT Sans","Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    letter-spacing: normal;
    line-height: 1;
    margin-top: 32px;
    margin-bottom: 32px;
    font-size:3em;
   font-weight: bold;
    
    padding-top:4.5em;
   
    opacity: 0.9;
    position:absolute;
    box-sizing: inherit;
    margin-top: 0em;
    width: 100%;
    background-color:rgb(228, 165, 83);
    height: 6.1em;
    
}
#but{
    margin-left:50%;
    transform: translate(-50%,0);
width: 50em;
height: 20em;
 
}
.but-picture{
    
    width: 22em;
   float: left;
}
#text-but-picture{
    line-height:32px;
    font-family:  "PT Sans","Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    width: 300px;
    font-size:1.3em;
    text-align: center;
   
    float:left;
    padding-left:2em;

}
#corps{
    padding-top: 2em;
    color: darkgray;
}

#pied{
   
    color: chocolate;
}

#titre{
  text-align: left;
  

}



#total{
    text-align: center;
  
}

#pied{
background-color: rgb(54, 54, 54);
height: 70px;
text-align:center;
padding-top: 50px;
color: white;
}


#croissant,#pain_au_chocolat,#pistolet,#couque_au_raisins,#couque_au_chocolat,#brioche{
    margin-bottom: 3em;
    height:11em;
    margin-left: 10%;
    float: left;
    width: 100%;
    }
 
    .photo-gamme{
       float: left;
      height:11em;
    }
    #texte-photo-gamme{
        font-family:  "PT Sans","Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
        letter-spacing: normal;
        line-height: 1;
        color: black;
        font-size: 1.5em;
        padding-left: 13em;
        padding-top: 3em;
    }


#panier{
    display:none;
    font-size: large;
    text-align: center;
    font-family:  "PT Sans","Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    letter-spacing: normal;
    line-height: 1;
    color: black;
    font-size: 1.5em;
    width: 60%;
    height: 17em;
    padding-top: 1em;
    background-color:rgb(228, 165, 83);
border-radius: 2em;
color:white;
margin-left:50%;
transform: translate(-50%,0);
}


#page-commande{
    margin-left:50%;
    transform: translate(-50%,0);
width: 50em;


font-family:  "PT Sans","Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
width: 500px;
font-size: 1.2em;
text-align: center;

float:left;
padding-left:2em;
display: none;
}

#submit,#reset,input{

border: none;

background-color: white;
font-family:  "PT Sans","Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    letter-spacing: normal;
    line-height: 1;
    color: black;
    height: 2.5em;
    text-align: center;
    font-weight:bold;
   
    background-color: white;
    font-size: 1em;}
    #submit:hover,#reset:hover{
        color: rgb(228, 165, 83);
    }
